# Virtual Environment
venv/

# Pycache
__pycache__/

# Tensor-Track Output
output/

# Distribution
dist/
tensor_track.egg-info/
build/

# TensorFlow models
*.hdf5

# Deployment script
*.sh

# Generic testing script
test_script.py
